* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    overflow: hidden;
    /* Removido overflow duplicado */
}

.main {
    display: flex;
}

.lado-esq {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #785dd1;
    height: 100vh;
}

.lado-dir {
    align-items: center;
    display: flex;
    justify-content: center;
    background: url(../img/fundo.png) center center no-repeat;
    background-size: cover;
    /* Adicionado para cobrir completamente o elemento */
    width: 100%;
}

@media (max-width: 467px) {
    .lado-esq {
        display: none;
    }

    #logoLoginDir {
        display: block;
        width: 180px;
        margin-top: 20px;
        /* Adicionado para ajustar o posicionamento */
    }

    #tituloDir {
        display: block;
        margin-top: 20px;
        /* Adicionado para ajustar o posicionamento */
    }

    .lado-dir {
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        background: url(../img/fundo.png) ;
        background-size: cover;
        /* Adicionado para cobrir completamente o elemento */
        width: 40%;
    }
}

@media (min-width: 468px) and (max-width: 945px) {
    .lado-esq {
        display: none;
    }

    body {
        background: #b275e4 !important;
    }
}

#logo {
    height: 180px;
    width: auto;
    margin-top: 50px;
}

h2 {
    /* Corrigido seletor H2 para h2 */
    margin-top: 80px;
    color: #000;
}

.logo {
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #785dd1;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 15px;
    font-weight: bold;
}

.button:hover {
    background-color: #301934;
}

.text {
    color: #2e0a57;
    font-weight: bold;
}

#typed-text {
    overflow: hidden;
    border-right: .1em solid #857dd1;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

#typed-text.typed {
    border-right: none;
    animation: none;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #c1bdda;
    }
}